/* Sidebar.css */
.sidebar {
    position: fixed;
    left: 0;
    top: 8%;
    height: 100%;
    width: 10%;
    padding: 20px;
    box-shadow: 5px 10px 8px #888888;
  }
  
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .sidebar ul li img {
    width: 22px;
    margin: 0 10px;
  }
  
  .sidebar ul li:hover {
    color: #817f71;
  }
  